ul {
  list-style-type: none;
  margin: 0 40px;
  padding: 0px;
  text-align:left;
}

#header{
  background-color: #DCDCDC;
}

#favoriteList > li{
  display: inline-block;
}

#favoriteCard{
  text-align: center;
  margin: 0 20px;
}